@model ProjectTutorViewModel

@{
    Layout = "GenericViews/_Index";
    ViewData["ViewModel"] = Model;
}

@section AdditionalFields {
    <div class="py-3 d-flex justify-content-left">
        <div class="input-group input-group-sm rounded-pill border overflow-hidden" style="max-width: 300px;">
            <span class="input-group-text bg-transparent border-0 fw-semibold text-secondary">
                Filter by
            </span>
            <select id="searchCategory" class="form-select border-0">
                <option value="true">Project</option>
                <option value="false">Tutor</option>
            </select>
        </div>
    </div>
}
