@model ProjectTutorViewModel

@{
    Layout = "GenericViews/_Index";
    ViewData["ViewModel"] = Model;
}

@section AdditionalFields {
    <div class="py-3">
        <div class="col-md-2">
            <label class="form-label">Filter by</label>
            <select id="searchCategory" class="form-select">
                <option value="true">Project</option>
                <option value="false">Tutor</option>
            </select>
        </div>
    </div>
}
