@model ProjectTutorViewModel

@{
    Layout = "GenericViews/_Index";
    ViewData["ViewModel"] = Model;
}

@section AdditionalFields {
    <div class="py-3">
        <div class="d-flex align-items-center mb-0">
            <select id="searchCategory" class="form-select me-2" style="display: inline-block; width: auto;">
                <option value="true">Project</option>
                <option value="false">Tutor</option>
            </select>
            <label class="form-label mb-0">Filter</label>
        </div>
    </div>
}
