@{
    Layout = "_Layout";
    var Model = ViewData["ViewModel"] as BaseEntityViewModel;
    var entity = Model.EntityName;
    var routePrefix = $"/js/{entity}s";
}

<div class="container mt-5">
    <div class="card shadow-sm rounded-4">

        <div class="card-header bg-info text-black">
            <h3 class="mb-0">@entity Details</h3>
        </div>

        <div class="card-body">
            <dl class="row">

                @* Fields injection here *@
                @await Html.PartialAsync("Fields/_StaticFields", Model.StaticFields)
                @await RenderSectionAsync("AdditionalFields", required: true)

            </dl>

            <div class="d-flex justify-content-end mt-4">
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="/js/Generics/load_entity.js"></script>
    <script src="@(routePrefix)/common.js"></script>
    <script src="@(routePrefix)/load_entity.js"></script>
    <script>
        $(document).ready(function () {
            loadEntity(@Model.Id);
        });
    </script>

    @await RenderSectionAsync("AdditionalScripts", required: false)
}