@model Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />

    <dl class="row">
        @* Department name *@
        <dt class="col-sm-2">Dept. name</dt>
        <dd class="col-sm-10" id="deptName"></dd>

        @* Faculty head *@
        <dt class="col-sm-2">Faculty head</dt>
        <dd class="col-sm-10" id="facultyHead"></dd>

        @* Email *@
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10" id="email"></dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>

@section Scripts {
<script>
    API = "https://localhost:7149/Departments";

    $(document).ready(function () {
        loadDepartments();
    });

    function loadDepartments() {
        $.get(
            `${API}/Get/${@Model.Id}`,
            function (entity) {
                $("#deptName").html(entity.deptName);
                $("#facultyHead").html(entity.facultyHead);
                $("#email").html(entity.email);
            }
        );
    }
</script>
}